SupportIQ.json
{
  "name": "SupportIQ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supportiq-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        688
      ],
      "id": "4919d477-7d74-4bc5-9de2-2cb05cf5366e",
      "name": "Webhook",
      "webhookId": "f7610df4-752e-40a9-a24d-6a7f5d04ea6d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer REPLACE_WITH_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-oss-20b\",\n  \"temperature\": 0.2,\n  \"response_format\": {\n    \"type\": \"json_object\"\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are SupportIQ-Triage, a strict customer-support triage model. Analyze one support ticket and return ONLY valid JSON with this exact schema: { \\\"sentiment\\\": \\\"frustrated\\\" | \\\"neutral\\\" | \\\"happy\\\", \\\"category\\\": \\\"technical\\\" | \\\"billing\\\" | \\\"feedback\\\" | \\\"other\\\", \\\"priority\\\": \\\"low\\\" | \\\"medium\\\" | \\\"high\\\", \\\"confidence\\\": <integer 0-100>, \\\"draft_response\\\": \\\"<professional customer reply>\\\" }. Hard rules: Output JSON only with no markdown or explanation; use only allowed lowercase enums; confidence must be integer 0-100; if uncertain lower confidence; draft_response must be concise, empathetic, action-oriented, and under 120 words; never promise refunds, credits, or timelines unless explicit; if message is unclear ask one clarifying question in draft_response.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Ticket input:\\nticketId: {{$json.body.ticketId}}\\nfirstName: {{$json.body.firstName}}\\nlastName: {{$json.body.lastName}}\\nemail: {{$json.body.email}}\\nmessage: {{$json.body.message}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        688
      ],
      "id": "14274a15-49c5-439e-8807-2c502e2a990f",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body || {};\n\nconst validSentiments = new Set(['frustrated', 'neutral', 'happy']);\nconst validCategories = new Set(['technical', 'billing', 'feedback', 'other']);\nconst validPriorities = new Set(['low', 'medium', 'high']);\nconst fallbackDraft = 'Thank you for contacting SupportIQ. We received your ticket and a support agent will follow up shortly.';\n\nconst payload =\n  $json?.body && typeof $json.body === 'object'\n    ? $json.body\n    : $json;\n\nconst hasGroqChoice = Boolean(payload?.choices?.[0]?.message?.content);\nconst hasGeminiCandidate = Boolean(payload?.candidates?.[0]?.content?.parts?.[0]?.text);\nconst hasCandidate = hasGroqChoice || hasGeminiCandidate;\n\nlet upstreamError =\n  payload?.error?.message ||\n  payload?.message ||\n  (Array.isArray(payload?.errors) && payload.errors[0]?.message) ||\n  $json?.error?.message ||\n  $json?.message ||\n  (Array.isArray($json?.errors) && $json.errors[0]?.message) ||\n  null;\n\nlet raw = hasGroqChoice\n  ? (payload.choices?.[0]?.message?.content ?? '{}')\n  : hasGeminiCandidate\n    ? (payload.candidates?.[0]?.content?.parts?.[0]?.text ?? '{}')\n    : '{}';\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw ?? {});\n}\nraw = raw.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\nlet parseFailed = false;\nlet parsed = {};\n\nif (!upstreamError) {\n  try {\n    parsed = JSON.parse(raw || '{}');\n  } catch {\n    parseFailed = true;\n    parsed = {};\n  }\n} else {\n  parseFailed = true;\n}\n\nif (!upstreamError && !hasCandidate) {\n  const finishReason = payload?.choices?.[0]?.finish_reason || null;\n  upstreamError = finishReason\n    ? `AI returned empty content (finish_reason: ${finishReason}).`\n    : 'AI returned no candidate content.';\n}\n\nif (!upstreamError && parseFailed) {\n  upstreamError = 'Invalid AI JSON output.';\n}\n\nconst sentiment = typeof parsed.sentiment === 'string' ? parsed.sentiment.toLowerCase().trim() : 'neutral';\nconst category = typeof parsed.category === 'string' ? parsed.category.toLowerCase().trim() : 'other';\nconst priority = typeof parsed.priority === 'string' ? parsed.priority.toLowerCase().trim() : 'medium';\n\nconst normalizedSentiment = validSentiments.has(sentiment) ? sentiment : 'neutral';\nconst normalizedCategory = validCategories.has(category) ? category : 'other';\nconst normalizedPriority = validPriorities.has(priority) ? priority : 'medium';\n\nconst confidenceRaw = Number(parsed.confidence);\nconst confidence = Number.isFinite(confidenceRaw)\n  ? Math.max(0, Math.min(100, Math.round(confidenceRaw)))\n  : 0;\nconst draft_response = typeof parsed.draft_response === 'string' && parsed.draft_response.trim()\n  ? parsed.draft_response.trim()\n  : fallbackDraft;\n\nconst needsHuman =\n  Boolean(upstreamError) ||\n  normalizedPriority === 'high' ||\n  confidence < 85 ||\n  normalizedCategory === 'billing';\n\nreturn [\n  {\n    json: {\n      ticket_id: body.ticketId || null,\n      first_name: body.firstName || '',\n      last_name: body.lastName || '',\n      email: body.email || '',\n      message: body.message || '',\n      sentiment: normalizedSentiment,\n      category: normalizedCategory,\n      priority: normalizedPriority,\n      confidence,\n      draft_response,\n      parse_failed: parseFailed,\n      route_action: needsHuman ? 'needs_human' : 'auto_send',\n      status: needsHuman ? 'needs_human' : 'ai_ready',\n      auto_sent: false,\n      responded_at: null,\n      final_response: null,\n      email_error: null,\n      ai_error: upstreamError,\n      raw_model_output: raw\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        688
      ],
      "id": "a4f6966e-2597-45c1-92ce-db2bda60258f",
      "name": "Build AI Analysis + Policy"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.route_action }}",
              "rightValue": "auto_send",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        688
      ],
      "id": "a64c2717-4904-4ebf-8dc4-4ea6487606b7",
      "name": "Route Auto Send"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.emailjs.com/api/v1.0/email/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"service_id\": \"service_ljxfr6s\",\n  \"template_id\": \"template_58o1ak3\",\n  \"user_id\": \"C5AQ10eBm9tuz4jLD\",\n  \"accessToken\": \"REPLACE_WITH_EMAILJS_PRIVATE_KEY\",\n  \"template_params\": {\n    \"to_email\": \"{{$json.email}}\",\n    \"to_name\": \"{{$json.first_name}} {{$json.last_name}}\",\n    \"ticket_id\": \"{{$json.ticket_id}}\",\n    \"ai_category\": \"{{$json.category}}\",\n    \"sentiment\": \"{{$json.sentiment}}\",\n    \"response_message\": \"{{$json.draft_response}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        576
      ],
      "id": "ab23e058-a40d-4cfa-8c40-ba4b887a21b5",
      "name": "EmailJS Send",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const analysis = $items('Build AI Analysis + Policy', 0, 0)?.[0]?.json || {};\nconst emailResult = $json ?? null;\n\nconst asString = typeof emailResult === 'string'\n  ? emailResult\n  : (typeof emailResult?.body === 'string' ? emailResult.body : '');\n\nconst statusCodeRaw = Number(\n  emailResult?.statusCode ??\n  emailResult?.status ??\n  emailResult?.code ??\n  NaN\n);\nconst statusCode = Number.isFinite(statusCodeRaw) ? statusCodeRaw : null;\n\nconst explicitError =\n  emailResult?.error?.message ||\n  emailResult?.error ||\n  emailResult?.message ||\n  null;\n\nconst normalizedBody = asString.trim().toLowerCase();\nconst bodyLooksOk = normalizedBody === 'ok' || normalizedBody === 'success';\nconst has2xx = statusCode !== null && statusCode >= 200 && statusCode < 300;\nconst explicitSuccess =\n  emailResult?.ok === true ||\n  emailResult?.success === true ||\n  emailResult?.status === 'OK' ||\n  emailResult?.statusText === 'OK';\n\n// n8n HTTP Request with continueOnFail usually exposes explicit error details on failure.\n// If we have no explicit error, treat it as success to avoid false negatives from body shape differences.\nconst hasAnyErrorSignal = Boolean(explicitError) || (statusCode !== null && statusCode >= 400);\nconst isSuccess = !hasAnyErrorSignal || bodyLooksOk || has2xx || explicitSuccess;\n\nif (!isSuccess) {\n  const fallbackError =\n    explicitError ||\n    (statusCode !== null ? `Email send failed (${statusCode})` : null) ||\n    (asString ? `Email send failed (${asString.slice(0, 140)})` : null) ||\n    'Email send failed: no success acknowledgment from EmailJS.';\n\n  return [\n    {\n      json: {\n        ...analysis,\n        route_action: 'needs_human',\n        status: 'needs_human',\n        auto_sent: false,\n        responded_at: null,\n        final_response: null,\n        email_error: fallbackError\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...analysis,\n      route_action: 'auto_send',\n      status: 'responded',\n      auto_sent: true,\n      responded_at: new Date().toISOString(),\n      final_response: analysis.draft_response || '',\n      email_error: null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        576
      ],
      "id": "3fbaeedb-8557-4298-9618-107892bc73e1",
      "name": "Finalize Auto Send"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $json || {};\nreturn [\n  {\n    json: {\n      ...analysis,\n      route_action: 'needs_human',\n      status: 'needs_human',\n      auto_sent: false,\n      responded_at: null,\n      final_response: null,\n      email_error: analysis.email_error || null\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        800
      ],
      "id": "6dddb832-a6ff-49b7-a6fd-d952ef4b301a",
      "name": "Finalize Needs Human"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1472,
        688
      ],
      "id": "545e0260-c873-4b76-a53c-642b93e657dd",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Build AI Analysis + Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Analysis + Policy": {
      "main": [
        [
          {
            "node": "Route Auto Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Auto Send": {
      "main": [
        [
          {
            "node": "EmailJS Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Needs Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EmailJS Send": {
      "main": [
        [
          {
            "node": "Finalize Auto Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Auto Send": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Needs Human": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6227678d-064e-43f9-96f6-d228db93094b",
  "meta": {
    "instanceId": "73307eb5d8a8d1338ec1c03c9cad3a9c94ea07b0f0a751e368083f586fc7e42d"
  },
  "id": "xTWrWlBsWTE5eoAy",
  "tags": []
}


